@import "./base.css";

body {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 100;
  font-style: normal;
}

.about {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--white-color) !important;
  padding: 0px 20px;
}

.about a {
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.about-title.heading {
  color: var(--white-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 35.42px;
}

.container {
  padding-top: 50px;
}

.heading {
  color: var(--white-color);
}

.about-wrapper {
  padding: 100px 0;
  background-color: var(--sce-ds);
  min-height: 200px;
  clip-path: polygon(9% 0, 80% 0%, 100% 0, 100% 100%, 80% 100%, 0 100%, 0% 80%, 0 13%);
}

.heading span {
  color: var(--pri-ds);
}

.about {
  background-color: #002B4E;
  border: none;
}

.about-title {
  color: #FF6C37;
}

.about-body p {
  color: var(--c50-ds);
  font-size: 14px;
  font-weight: 300;
  line-height: 17.71px;
}

.btn-custom {
  border: none;
  color: #FFFFFF;
}

.nav.nav-tabs {
  margin-top: 50px;
  border: none !important;
}

.tab-pane {
  color: var(--white-color);
  align-items: center;
}

.tab-content {
  margin-top: 40px;
}

.tab-pane .heading {
  margin-bottom: 20px;
}

.tabpane-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 77px;
}

.button-container img {
  position: absolute;
}

.arrow-right {
  left: 22%;
  width: 17px;
  height: 12px;
}

.tabpane-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tabpane-container p {
  width: 462px;
}
/* 
.button-container a {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn.btn-custom:hover {
  background-color: var(--pri-ds) !important;
  color: #fff;
} */
.button-container {
  display: flex;
  align-items: center;
  color: #fff;
}

.btn-custom {
  background-color: var(--sce-ds); 
  color: #fff !important;
  padding: 9px 45px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  background-color: var(--pri-ds); 
  color: #fff;
}

.btn-custom a{
  text-transform: capitalize;
  color: #fff;
  z-index: 4;
  margin-left: -20px;
}
.arrow-right {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  transition: filter 0.3s ease;
}

.nav-tabs .nav-link.active {
  background-color: transparent !important;
  color: var(--white-color) !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: var(--pri-ds) !important;
}
.nav-item:focus-visible {
  border: none;
}

.nav-tabs .nav-link {
  color: #FFFFFF;
}

.img-container .img-fluid {
  width: 500px;
  height: 310px;
  border-radius: 10px;
}

.detail-container {
  margin-top: 30px;
  display: flex !important;
  align-items: center;
  gap: 10px;
}


.svg-arrow {
  width: 11px !important;
  height: 10px !important;
}

.content-right p {
  margin-top: 0 !important;
  margin-bottom: 0;
}

@media (max-width: 770px) {
  .about {
    flex-direction: column;
    max-width: 100%;
  }

  .btn-custom:hover {
    background-color: transparent;
  }

  .about-wrapper {
    padding: 67px 0px;
    clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 100%, 80% 100%, 0 100%, 0% 80%, 0 5%);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    margin-top: -9.6%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content-section {
    flex-direction: column;
  }

  .nav-link {
    justify-content: center;
  }

  .about-title {
    font-size: 22px !important;
    text-align: center;
  }

  .about-body {
    padding: 0 34px;
  }

  .about-body p {
    margin-top: 20px;
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 15.18px !important;
    text-align: center;
    padding: 0 10px !important;
    color: #F2F8FD;
  }

  .text-content {
    max-width: 100%;
    margin-top: 20px;
  }

  .text-content p {
    font-size: 12px;
    font-weight: 300;
    line-height: 15.18px;
    color: var(--text-ds);
  }
  .mobile-container {
    padding: 0 !important;
  }

  .nav.nav-tabs {
    justify-content: center;
    border-bottom: 2px solid #66717A !important;
  }
  
  .nav-link.active {
    border-bottom: 2px solid var(--pri-ds);
  }
  .nav-item {
    width: 100%;
    margin-bottom: 25px;
  }

  .tabpane-container {
    flex-direction: column-reverse;
  }

  .heading {
    width: 100%;
    text-align: center;
  }

  .heading h4 {
    margin-top: 47px;
    font-size: 16px;
    margin-bottom: 21px;
  }

  .heading p {
    font-size: 12px;
    width: 100%;
  }

  .img-container .img-fluid {
    width: 272px;
    height: 150px;
    /* margin-top: 40px; */
  }

  .button-container {
    justify-content: center;
  }

  .button-container a {
    font-size: 12px;
    font-weight: 600;
    margin-left: -12px;
  }

  .button-container .vector-70{
    left: 30% !important;
  }

  .arrow-right {
    left: 65% !important;
  }

  .text-container {
    display: flex !important;
    flex-direction: row !important;
    height: fit-content !important;
    gap: 5px !important;
  }

  .text-container h1 {
    width: 11%;
  }

  .text-container h1,p{
    font-size: 14px !important;
    font-weight: 600 !important;
    margin: 0 !important;
    height: fit-content !important;
    line-height: 15px !important;
  }

  .recent-project {
    padding: 34px !important;
  }

  .recent-project .content-project img {
    width: 342px;
    height: 210px;
  }
  .content-project {
    display: block !important;
  }

  .content-right h4{
    margin-top: 34px;
    font-size: 16px !important;
    margin-bottom: 18px;
  }

  .content-right p {
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 15.18px !important;
    color: var(--text-ds) !important;
    margin-bottom: 20px !important;
  }
  .content-right .btn-detail {
    font-size: 12px !important;
    color: var(--pri-ds) !important;
    font-weight: 300 !important;
  }
  .detail-container .btn-detail {
    margin-bottom: 0 !important;
  }
}