.footer {
  background-color: var(--sce-ds);
  padding: 40px 20px 40px 20px;
  display: flex;
  color: #F2F8FD;
}
.footer h5 {
  font-weight: 600;
  font-size: 16px;
}
.footer a {
  color: var(--pri-ds);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .contact-info li {
  min-width: 100px;
  font-size: 14px;
}
.footer .logo {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer .logo img {
  width: 100px;
  height: 93px;
  gap: 0px;
  opacity: 0px;
}
.footer .cover {
  max-width: 1440px;
}
