#operational-area {
  padding: 70px;
}

.header-text {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 147px;
}
.header-text .text-cover {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.header-text .text-1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.6px;
  color: var(--pri-ds);
  margin-bottom: 10px; /* Added margin-bottom */
}

.header-text .text-2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.6px;
  color: var(--sce-ds);
  margin-bottom: 10px; /* Added margin-bottom */
}

.header-text .text-3 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22.77px;
  color: var(--text-ds);
  margin-bottom: 10px; /* Added margin-bottom */
  max-width: 50%;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  padding: 25px 25px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  gap: 40px;
  background-color: var(--c50-ds);
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 0);
}

.swiper-slide img {
  width: 25px;
  height: 25px;
}

.swiper-slide:hover {
  background-color: var(--sce-ds);
  color: var(--c50-ds);
  box-shadow: 0px 2px 10px 0px #38383840;
}

.swiper-slide:hover p {
  color: var(--white-color) !important;
}

.swiper-slide:hover .icon-border {
  background: var(--c50-ds);
}

.swiper-container-mobile {
  display: none;
}

.swiper-slide .icon-cover {
  display: flex;
}

.swiper-slide .icon-border {
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  background: var(--c100-ds);
}

.icon-text {
  min-height: 250px;
  max-width: 450px;
}

.swiper-slide .text-cover {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 390px), (max-width: 768px), (max-width: 600px) {
  #operational-area {
    padding: 0px;
  }
  .swiper-container {
    display: none !important;
  }
  .header-text {
    padding: 0 25px;
    text-align: center;
    margin-bottom: 32px;
  }
  .header-text h2 {
    font-size: 18px;
    line-height: 22.77px;
  }
  .header-text h5 {
    font-size: 15px;
    line-height: 15.18px;
  }
  .header-text .text-1 {
    font-size: 20px;
    font-weight: 700;
  }
  .header-text .text-2 {
    font-size: 20px;
    font-weight: 700;
  }
  .swiper-container-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 10px; /* Adjust gap between items */
    padding: 0 25px;
  }

  .swiper-slide.icon-text .desc-operation {
    font-size: 12px !important;
    font-weight: 300 !important;
  }

  .swiper-wrapper {
    display: contents !important; /* Disable Swiper flex behavior */
  }

  .swiper-slide {
    flex: 1 1 45%; /* Adjust width for mobile */
    width: 100%; /* Ensure it doesn't exceed 100% width in mobile */
  }
  .swiper-slide .icon-border {
    padding: 12px;
  }
}
