#products {
  padding: 70px;
}

#products .cover {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* grid-template-columns: repeat(1, 1fr); */
}
#products .product-blog-2 {
  display: flex;
  gap: 30px;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
}
#products .product-blog-2 .content-cover {
  background: var(--c50-ds);
  grid-column: span 2;
  padding: 40px 25px;
  border-radius: 12px;
  gap: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 60%;
}

#products .cover .product-blog-2 .img-cover img {
  width: 440px;
  height: 290px;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 10% 100%, 0 80%, 0 0);
  border-radius: 10px;
}
#products .product-blog {
  display: flex;
  gap: 30px;
  justify-content: center;

  /* grid-template-columns: repeat(3, 1fr); */
}

#products .product-blog .content-cover {
  background: var(--c50-ds);
  grid-column: span 2;
  padding: 40px 25px;
  border-radius: 12px;
  gap: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 60%;
}

#products .cover .product-blog .img-cover img {
  width: 440px;
  height: 290px;
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 0);
  border-radius: 10px;
}

#products .content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#products .content-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#products .content-2 {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
#products .content-2 .sub-content-cover {
  display: flex;
}
#products .content-2 .sub-content-1 img {
  height: 14px;
  width: 14px;
}
#products .content-2 .sub-content-1 p {
  color: var(--sce-ds);
  font-weight: 300;
  size: 12px;
  line-height: 15.18px;
}
#products .content-2 .sub-content-1 {
  display: flex;
  padding: 10px 50px 10px 25px;
  clip-path: polygon(
    11% 0,
    80% 0%,
    100% 0,
    100% 100%,
    82% 100%,
    20% 100%,
    0 100%,
    0 30%
  );
  background: var(--c100-ds);
  border-radius: 5px;
  gap: 10px;
  align-items: center;
}

#products .content-1 .title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25.3px;
  color: var(--sce-ds);
}

#products .content-1 p {
  font-size: 14px;
  color: var(--text-ds);
  font-weight: 300;
}

#products .sub-content-cover span {
  font-size: 12px;
  color: var(--text-ds);
  font-weight: 300;
}

#products .content-cover-2 .content-1 {
  text-align: right;
}

#products .content-cover-2 .content-2 .sub-content-cover {
  justify-content: flex-end;
}
#products .content-cover-2 .content-2 .sub-content-1 {
  padding: 10px 25px 10px 50px;

  background: var(--c100-ds);
}

#products .content-2 .sub-content-2 img {
  height: 14px;
  width: 14px;
}
#products .content-2 .sub-content-2 p {
  color: var(--sce-ds);
  font-weight: 300;
  size: 12px;
  line-height: 15.18px;
}
#products .content-2 .sub-content-2 {
  display: flex;
  padding: 10px 25px 10px 50px;
  clip-path: polygon(
    25% 0,
    90% 0,
    100% 25%,
    100% 100%,
    82% 100%,
    20% 100%,
    0 100%,
    0 0
  );
  background: var(--c100-ds);
  border-radius: 5px;
  gap: 10px;
  align-items: center;
}

#products .mobile-cover {
  display: none;
}

@media (max-width: 390px), (max-width: 768px), (max-width: 600px) {
  #products {
    padding: 0px;
  }
  #products .pc-cover {
    display: none;
  }
  #products .mobile-cover {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #products .product-blog {
    flex-direction: column;
  }

  #products .product-blog-2 {
    flex-direction: column;
  }

  #products .product-blog-2 .content-cover {
    background: var(--c50-ds);
    border-radius: 12px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  #products .cover .product-blog-2 .img-cover img {
    width: 100%;
    height: 100%;
  }
  #products .cover .product-blog-2 .img-cover-2 img {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 0);
  }
  #products .cover .product-blog .img-cover img {
    width: 100%;
    height: 100%;
  }

  #products .content-2 {
    margin-bottom: 30px;
  }
  #products .sub-content-cover span {
    font-size: 10px;
  }
  #products .content-1 .title {
    font-size: 16px;
  }
  #products .content-2 .sub-content-1 img {
    height: 12px;
    width: 12px;
  }
  #products .content-1 p {
    font-size: 12px;
  }
}
